body{
  margin: 0;
}
header{
  height: 100px;
  background-color: #1e2227;
  display: flex;
  align-items: center;
}
.navigation{
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 180px;
}

.fair{
  width: 100px;
  color:#fff;
  font-size: 25px;
  font-weight: 800;
  font-family: Arial;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -5px;
}

nav{
  width: 420px;
}
.searchblock{
  width: 320px;
  display: flex;
  justify-content: space-between;
  
}
.search{
  width: 200px;
  height: 32px;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border:none;
  padding: 0px;
  padding-left: 10px;
}
.search1{
  width: 250px;
  height: 50px;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border:none;
  padding: 0px;
  padding-left: 10px;
    position: absolute;
    left:50px;
    top:100px;

}

.fair, nav, .searchblock{

}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
nav>ul>li{
  font-family: Arial;
  font-size: 18px;
  color:#fff;
  font-weight: 800;
  padding: 5px;
}
nav>ul>li:hover{
  font-family: Arial;
  font-size: 18px;
  color:#313841;
  font-weight: 800;
  background-color: #ffee00;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s linear;
}
.sqrbutton{
  width: 32px;
  height: 32px;
  border-radius:3px;
  background-color: #313841;
}
.sqrbutton1{
  width: 50px;
  height: 50px;
  border-radius:3px;
  background-color: #313841;
}
.sandvich{
  width: 32px;
  height: 20px; /* КОНПЕНСАЦИЯ ПАДДИНГАМИ УМЕНЬШЕНИЕ РАЗМЕРА */
  padding: 6px 0px;
  background-color: #ffee00;
  border-radius:3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  
}
.sandvich:hover{
  width: 32px;
  height: 20px; /* КОНПЕНСАЦИЯ ПАДДИНГАМИ УМЕНЬШЕНИЕ РАЗМЕРА */
  padding: 6px 0px;
  background-color: #b9ac00;
  border-radius:3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: all 0.5s linear;
  
  
}
.line{
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background-color: black;
  
}
.search-function{
  display:flex;
  justify-content: flex-end;
}
.searchicon{
  background-color: #e8d700;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: url(img/icons/magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
}
.searchicon1{
  background-color: #e8d700;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: url(img/icons/magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
    position: absolute;
    left: 300px;
    top:100px;
}
.manicon{
  background-image: url(img/icons/man-user.png);
  background-repeat: no-repeat;
  background-position: center;
}
.arrowsicon{
  background-image: url(img/icons/shuffle.png);
  background-repeat: no-repeat;
  background-position: center;
}
.searchicon:hover{
  background-color: #e8d700;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: url(img/icons/magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
    cursor: pointer;
}
.manicon:hover{
  background-image: url(img/icons/man-user.png);
  background-repeat: no-repeat;
  background-position: center;
    cursor: pointer;
}
.arrowsicon:hover{
  background-image: url(img/icons/shuffle.png);
  background-repeat: no-repeat;
  background-position: center;
    cursor: pointer;
}
.main{
    width: 100%;
    height: 700px;
    background-image: url(img/media/pattern.png);
    box-sizing: content-box;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.zag{
    font-size: 50px;
    font-family:Arial;
    text-align: center;
    color: aliceblue;
    position: absolute;
}
.zag1{
    font-size: 20px;
    font-family:Arial;
    text-align: center;
    color: aliceblue;
    position: absolute;
    top:170px;
}
.ipad{
    background-image: url(img/media/big_ipad.png);
    justify-content: center;
    position: absolute;
    top:300px;
    width:980px;
    height: 400px;
    background-size: cover;
}
.right{
    background-image: url(img/media/right.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    right:90px;
    top:400px;
    
}
.left{
    background-image: url(img/media/left.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    left: 90px;
    top:400px;
    
}
.right:hover{
    background-image: url(img/media/right.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    right:90px;
    top:400px;
    cursor: pointer;
    
}
.left:hover{
    background-image: url(img/media/left.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    left: 90px;
    top:400px;
    cursor: pointer;
}
.part2{
    width: 100%;
    height: 250px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    
}
.mac{
    background-image:url(img/media/mac.png);
    width: 160px;
    height: 160px;
    background-size: cover;
    margin: 40px 30px;
    
}
.iphone{
    background-image: url(img/media/iphone.png);
    width: 160px;
    height: 160px;
    background-size: cover;
    margin: 40px 30px;
    
}
.ipad2{
    background-image: url(img/media/ipad_png.png);
    width: 160px;
    height: 160px;
    background-size: cover;  
    margin: 40px 30px;
}
.part3{
    width: 100%;
    height: 650px;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-top:-20px; 
    
    
}
.part31{
    width: 100%;
    height: 200px;
    background-color: white;
    
    
}
.part32{
    width: 100%;
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.zagolovok{
    font-size: 50px;
    text-align: center;
    margin-top:40px;
    color: #292929;
    font-family: Arial;
    margin: auto;
}
.zagolovok2{
    font-size: 50px;
    text-align: center;
    color: #292929;
    font-family: Arial;
    
}
.zagolovok3{
    font-size: 50px;
    text-align: center;
    color: #292929;
    font-family: Arial;
    
}
.zag2{
    font-size: 30px;
    font-family:Arial;
    text-align: center;
    color: #292929;
    margin-top: 20px;
}
.textpart5{
    font-size: 30px;
    font-family:Arial;
    text-align: center;
    color: #292929;
    margin-top: 20px;
}
.zag21{
    font-size: 20px;
    font-family:Arial;
    text-align: center;
    color: #292929;
    margin-top: -40px;
}
.iphoneipad{
    background-image: url(img/media/iphone_ipad.png);
    width: 574px;
    height: 447px;
    background-size: cover;
}
.textblockpart3{
    background-color: white;
    height: 450px;
    width: 500px;
    margin-left: 30px;
    
}
.textpart3gl{
    font-weight: 400;
    font-size: 20px;
    color: #242424;
    font-family: Arial;
}
.textpart3{
    font-size: 20px;
    color: #242424;
    font-family: Arial;
    margin-top: 50px;
}
.textpart4gl{
    font-weight: 400;
    font-size: 15px;
    color: #242424;
    font-family: Arial;
    font-weight: 700;
    text-align: center;
    margin-top: 160px;
}
.textpart4{
    font-size: 10px;
    color: #242424;
    font-family: Arial;
    margin-top: 50px;
    text-align: center;
}
.part4{
    width: 100%;
    height: 400px;
    background-color: #efefef;
}
.part41{
    width: 100%;
    height: 100px;
    background-color: #efefef;
}
.part42{
    width: 80%;
    height: 300px;
    background-color: #efefef;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
    
    
}
.port1{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    margin-top:40px;
    background-image: url(img/media/potfolio-1.jpg);
    background-size:200px 150px;
    background-repeat: no-repeat;
}
.port2{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    margin-top:40px;
    background-image: url(img/media/potfolio-2.jpg);
    background-size:200px 150px;
    background-repeat: no-repeat;
}
.port3{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    margin-top:40px;
    background-image: url(img/media/potfolio-3.jpg);
    background-size:200px 150px;
    background-repeat: no-repeat;
    
}
.port4{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    margin-top:40px;
    background-image: url(img/media/portfolio-4.jpg);
    background-size:200px 150px;
    background-repeat: no-repeat;
}
.port1:hover{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    margin-top:40px;
    background-image: url(img/media/potfolio-1.jpg);
    background-size:200px 150px;
    background-repeat: no-repeat;
    cursor:pointer;
}
.port2:hover{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    margin-top:40px;
    background-image: url(img/media/potfolio-2.jpg);
    background-size:200px 150px;
    background-repeat: no-repeat;
    cursor:pointer;
}
.port3:hover{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    margin-top:40px;
    background-image: url(img/media/potfolio-3.jpg);
    background-size:200px 150px;
    background-repeat: no-repeat;
    cursor:pointer;
    
}
.port4:hover{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    margin-top:40px;
    background-image: url(img/media/portfolio-4.jpg);
    background-size:200px 150px;
    background-repeat: no-repeat;
    cursor:pointer;
}
.right1{
    background-image: url(img/media/right.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    right:90px;
    top:1900px;
    
}
.left1{
    background-image: url(img/media/left.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    left: 90px;
    top:1900px;
    
}
.right1:hover{
    background-image: url(img/media/right.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    right:90px;
    top:1900px;
    cursor: pointer;
    
}
.left1:hover{
    background-image: url(img/media/left.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    left: 90px;
    top:1900px;
    cursor: pointer;
}
.part5{
    width: 100%;
    height: 800px;
    background-color: white;
    
    
}
.part51{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-top: -50px;
    
}
.part52{
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    
}
.blog1{
    width: 288px;
    height: 450px;
    background-color: #efefef;
    margin-top: 50px;
    margin-right: 60px;
    background-image: url(img/media/blog-1.jpg);
    background-repeat: no-repeat;
    position: relative;

}
.blog2{
    width: 288px;
    height: 450px;
    background-color: #ffffff;
    margin-top: 50px;
    background-image: url(img/media/blog-2.jpg);
    background-repeat: no-repeat;
    position: relative;
    
}
.blog3{
    width: 288px;
    height: 216px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 60px;
    background-image: url(img/media/blog-3.jpg);
    background-repeat: no-repeat;
    position: relative;
}
.part5fontgl{
    font-size: 25px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:250px;
}
.part5fontgl1{
    font-size: 25px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:-15px;
    left:10px;
}

em{
    font-size: 25px;
    color: #4778e6;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:-10px;
    left:40px;
}
.font5gl11{
    font-size: 25px;
    color: #3c3c3c;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:460px;
    left:10px;
}

.part5font{
    font-size: 15px;
    color: #292929;
    text-align: center;
    font-family: Arial;
    position: absolute;
    top:340px;
}
.blog3border{
    width:288px;
    height: 50px;
    background-color: #efefef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top:216px;
}
.blog3div{
    width: 288px;
    height: 150px;
    background-color: #272d34;
    border-radius: 10px;
    position: absolute;
    top:300px;  
    
}
.part5fontgl2{
    font-size: 18px;
    color: #ededed;
    text-align: center;
    font-weight: 100;
    font-family: Arial;
    position: absolute;
    top:34px;
    margin: 8px;
}
.part6{
    width: 100%;
    height: 800px;
    background-color: #efefef;
    display: flex;
    box-sizing: border-box;
}
.part61{
    width: 60%;
    height: 1000px;
    background-color: #efefef;
    box-sizing: border-box;
    
}
.part62{
    width: 40%;
    height: 1000px;
    background-color: #272d34;
    box-sizing: border-box;
    position: relative;
}
.part621{
    width: 100%;
    height: 200px;
    background-color: #efefef;
    box-sizing: content-box;
    position: relative;
}
.part622{
    width: 100%;
    height: 700px;
    background-color: #efefef;
    display: flex;
    justify-content: space-around;
    
}
.part623{
    width: 100%;
    height: 100px;
    background-color: #efefef;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    
}
.zagpart6{
    font-size: 50px;
    text-align: center;
    color: #292929;
    font-family: Arial;
    position: absolute;
    top:10px;
    left:30%;   
}
.part6font{
    font-size: 18px;
    color: #313131;
    text-align: center;
    font-weight: 100;
    font-family: Arial;
    position: absolute;
    top:130px;
    margin: 8px;
    left:30%;
}
.part7{
    width: 100%;
    height: 100px;
    background-color: #353e48;
}

.part8{
    width: 100%;
    height: 700px;
    background-color: aquamarine;
}
.part81{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}
.part82{
    width: 100%;
    height: 300px;
    background-image: url(img/media/map.jpg);
    background-size: cover;
}
.part83{
    width: 100%;
    height: 100px;
    background-color: #272d34;
    position: relative;
    
}
.blog4{
    width: 288px;
    height: 500px;
    background-color: white;
    margin-top: 90px;
    background-image: url(img/media/blog-4.jpg);
    background-repeat: no-repeat;
    position: relative;
    border:1px #5d5d5d solid;    
}
.blog5{
    width: 288px;
    height: 500px;
    background-color: white;
    margin-top: 90px;
    background-image: url(img/media/blog-5.jpg);
    background-repeat: no-repeat;
    position: relative;
    border:1px #5d5d5d solid; 
}
.textpart7{
    font-size: 20px;
    color: #242424;
    font-family: Arial;
    position: absolute;
    top:370px;
    text-align: center;
}
.part7fontgl{
    font-size: 25px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:210px;
    left:70px;
}
.part7fontgl1{
    font-size: 25px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:270px;
    left:10px;
    
}
.itext{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-family: Arial;
    position: absolute;
    left: 5px;
    top:-5px;
    
}
.itext1{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-family: Arial;
    position: absolute;
    left: 20px;
    top:-5px;
    
}
.itext2{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-family: Arial;
    position: absolute;
    left: 20px;
    top:-5px;
    
}
.pre{
    width: 90px;
    height: 50px;
    background-color: #9f9f9f;
    border-radius: 10px;
    margin-left: 130px;
    position: relative;
    
}
.i1{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-left: 12px;
    position: relative;
}
.next{
    width: 90px;
    height: 50px;
    background-color: #ffee00;
    border-radius: 10px;
    margin-left: 20px;
    position: relative;
}
.pre:hover{
    width: 90px;
    height: 50px;
    background-color: #c9c9c9;
    border-radius: 10px;
    margin-left: 130px;
    position: relative;
    cursor: pointer;
    
}
.i1:hover{
    width: 50px;
    height: 50px;
    background-color: #c9c9c9;
    border-radius: 10px;
    margin-left: 12px;
    position: relative;
    cursor: pointer;
}
.next:hover{
    width: 90px;
    height: 50px;
    background-color: #c9c9c9;
    border-radius: 10px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}
.text8{
    font-family: Arial;
    font-size:30px;
    color: white;
    position: absolute;
    left: 50px;
    top:150px;
    
}
.text8o1{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:200px;
    margin-top: 50px;
    
    
}
.text8o2{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:300px;
    margin-top: 30px;
    
    
}
.text8o3{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:400px;
    margin-top: 30px;
    
    
}
.text8o4{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:500px;
    margin-top: 30px;
    
    
}
.text8o5{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:600px;
    margin-top: 30px;
    
    
}
.text8o6{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:700px;
    margin-top: 30px;
    
    
}
.text8o7{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:800px;
    margin-top: 30px;
    
    
}
.text8o8{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:900px;
    margin-top: 30px;
    
    
}
.text8o9{
    font-family: Arial;
    font-size:25px;
    color: white;
    position: absolute;
    left: 50px;
    top:1000px;
    margin-top: 30px; 
    
}
.text8o1:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:200px;
    margin-top: 50px;
    cursor: pointer;
    
    
}
.text8o2:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:300px;
    margin-top: 30px;
    cursor: pointer;
    
    
}
.text8o3:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:400px;
    margin-top: 30px;
    cursor: pointer;
    
    
}
.text8o4:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:500px;
    margin-top: 30px;
    cursor: pointer;
    
    
}
.text8o5:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:600px;
    margin-top: 30px;
    cursor: pointer;
    
}
.text8o6:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:700px;
    margin-top: 30px;
    cursor: pointer;
    
    
}
.text8o7:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:800px;
    margin-top: 30px;
    cursor: pointer;
    
    
}
.text8o8:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:900px;
    margin-top: 30px;
    cursor: pointer;
    
    
}
.text8o9:hover{
    font-family: Arial;
    font-size:25px;
    color: #e8d700;
    position: absolute;
    left: 50px;
    top:1000px;
    margin-top: 30px; 
    cursor: pointer;
    
}

.hr1{
    width: 200px;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    left:50px;
    top:300px;
    
}
.hr2{
    width: 200px;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    left:50px;
    top:380px;
}
.hr3{
    width: 200px;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    left:50px;
    top:480px;
}
.hr4{
    width: 200px;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    left:50px;
    top:580px;
}
.hr5{
    width: 200px;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    left:50px;
    top:680px;
}
.hr6{
    width: 200px;
    height: 2px;
    background-color: #efefef;
    position: absolute;
    left:50px;
    top:780px;
}
.hr7{
    width: 200px;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    left:50px;
    top:880px;
}
.hr8{
    width: 200px;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    left:50px;
    top:980px;
}
.part9{
    width: 100%;
    height: 100px;
    background-color: #2f3945;
    margin-top:200px;
    position: relative;
}
.blogtext{
    font-family: Arial;
    font-size: 50px;
    color: white;
    left:200px;
    position: absolute;
    top:25px;
}
.button111{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #272d34;
    position: absolute;
    top:25px;
    right:430px;
}
.button222{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffee00;
    position: absolute;
    top:25px;
    right:200px;
}
.atext1 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    position: absolute;
    left: 20px;
    top: 10px;
    
}
.atext2 {
    font-size: 20px;
    color: #272d34;
    text-align: center;
    font-family: Arial;
    position: absolute;
    left: 40px;
    top: 10px;
    
}
.fonttext {
    font-family: Arial;
    font-size: 50px;
    color: #272727;
    text-align: center;
    margin-top: 10px;
    
    
    
}
.fonttext2 {
    font-size: 18px;
    color: #313131;
    text-align: center;
    font-weight: 100;
    font-family: Arial;
    margin-top: -30px;
}
.sandvich1 {
    width: 32px;
    height: 20px;
    padding: 6px 0px;
    background-color: #ffee00;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:250px;
    top:4180px;
    
}
.line1 {
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: black;
}
.fontblock1{
    width: 300px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    left:350px;
    display: flex;
    align-items:center;
    
}
.fontblock2{
    width: 300px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    left:700px;
    display: flex;
    align-items:center;
}
.fontblock3{
    width: 300px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    left:1050px;
    display: flex;
    align-items:center;
}
.footertext11{
    font-size: 25px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    padding-bottom: 80px;
    
    
}
.footertext12{
    font-size: 25px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    
    
}
.footertext13{
    font-size: 25px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    padding-top: 80px;
    
    
}
.footertext111{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    padding-bottom: 80px;
    
    
}
.footertext122{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    
    
}
.footertext133{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    padding-top: 80px;
    
    
}
.footertext111{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    padding-bottom: 80px;
    
    
}
.footertext121{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    
    
}
.footertext131{
    font-size: 20px;
    color: #292929;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    padding-top: 80px;
    
    
}
.em2{
    font-size: 16px;
    color: #2146ac;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    padding-top: 92px;
    padding-left: 18px;
    
    

}
.footertextG{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:30px;
    left:680px;
    
    
    
}
.footertextG1{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:30px;
    left:880px;
    
    
    
}
.G{

    font-size: 20px;
    color: #ffee00;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    position: absolute;
    top:30px;
    left:750px;
    
    
    

}